.container {
    width: 85%;
    margin: auto;
}

h1 {
    text-align: center;
    font-weight: 600;
    margin-top: 1rem;
    color: rgb(97, 93, 93);
}

.content {
    width: 100%;
}

.badge button {
    margin-top: 1rem;
    width: 100%;
}

p {
    text-align: end;
    font-weight: 600;
    color: rgb(93, 91, 91);
    padding-bottom: 0;
}

mat-card {
    margin-top: .8rem;
    padding: .2rem;
}