form {
  width: 70%;
  margin: 2rem auto 0 auto;
  text-align: center;
}

.data-finalizar {
  text-align: start;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  color: rgb(104, 100, 100);
}

.form {
  width: 100%;
}

.buttons {
  width: 100%;
  text-align: start;
}

button {
  margin-right: 0.5rem;
  margin-top: 0.2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  width: 100%;
}
