<div class="container">
    <div class="badge">
        <button (click)="navegarParaFinalizados()" mat-stroked-button color="primary" matBadge="{{ closed }}">Tasks finalizadas</button>
    </div>
    <button routerLink="create" class="novo-todo mat-elevation-z8" mat-stroked-button color="primary">NOVO TO-DO</button>

    <div class="content" *ngFor="let item of list">
        <mat-card class="mat-elevation-z8">
            <p>Finalizar até {{ item.dataParaFinalizar }}</p>
            <mat-card-header>
              <mat-card-title>{{ item.titulo }}</mat-card-title>
              <mat-card-subtitle>{{ item.descricao }}</mat-card-subtitle>
            </mat-card-header>

            <div class="actions">
                <button (click)="finalizar(item)" mat-mini-fab color="primary">
                    <mat-icon>done</mat-icon>
                </button>
                <button routerLink="update/{{ item.id }}" mat-mini-fab color="accent">
                    <mat-icon>edit</mat-icon>
                </button>
                <button (click)="delete(item.id)" mat-mini-fab color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
          </mat-card>
    </div>
</div>